/* ROOT CSS VARIABLES */
:root {
  --color-white: #ffffff;
  --color-light: #f0eff5;
  --color-gray-light: #86848c;
  --color-gray-dark: #56555e;
  --color-dark: #27282f;
  --color-primary: rgb(71, 7, 234);
  --color-success: rgb(34, 202, 75);
  --color-danger: rgb(255, 67, 54);
  --color-warning: rgb(234, 181, 7);
  --color-purple: rgb(160, 99, 245);

  --color-primary-light: rgb(71, 7, 234, 0.2);
  --color-success-light: rgb(34, 202, 75, 0.2);
  --color-danger-light: rgb(255, 67, 54, 0.2);
  --color-purple-light: rgb(160, 99, 245, 0.2);

  --card-padding: 1.6rem;
  --padding-1: 1rem;
  --padding-2: 8px;

  --card-border-radius: 1.6rem;
  --border-radius-1: 1rem;
  --border-radius-2: 6px;

}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  appearance: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  background: var(--color-light);
  font-family: poppins, sans-serif;
  min-height: 100vh;
  color: var(--color-dark);
}

img {
  width: 100%;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.86rem;
  font-weight: 500;
}

h6 {
  font-size: 0.76rem;
}

p {
  font-size: 0.86rem;
  color: var(--color-gray-dark);
}

small {
  font-weight: 300;
  font-size: 0.77rem;
}

.text-muted {
  color: var(--color-gray-light);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.purple {
  color: var(--color-purple);
}

.bg-primary {
  background: var(--color-primary);
  box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}

.bg-danger {
  background: var(--color-danger);
  box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);
}

.bg-success {
  background: var(--color-success);
  box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
}

.bg-purple {
  background: var(--color-purple);
  box-shadow: 0 0.8rem 0.8rem var(--color-purple-light);
}

.bg-dark {
  background: #27282f;
  box-shadow: 0 0.8rem 0.8rem rgb(0, 0, 0, 0.2);
}

/* NAVIGATION BAR */
nav {
  width: 100%;
  background: var(--color-white);
  padding: 1rem 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 96%;
  margin: 0 auto;
}

nav img.logo {
  width: 7em;
}

nav .search-bar {
  background: var(--color-light);
  padding: var(--padding-2) var(--card-padding);
  border-radius: var(--card-border-radius);
  width: 32vw;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-gray-light);
  position: absolute;
  left: 15%;
}

nav .search-bar input[type="search"] {
 color: var(--color-gray-dark);
 background: transparent;
 width: 100%;
}

nav .search-bar input[type="search"]::placeholder {
  color: var(--color-gray-dark);
}

nav .profile-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

nav .profile-area .theme-button {
  display: flex;
  background: var(--color-light);
  width: 5em;
  height: 2em;
  border-radius: var(--border-radius-2);
  cursor: pointer;
}

nav .profile-area .theme-button span {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-gray-dark);
}

nav .profile-area .theme-button span.active {
  background: var(--color-dark);
  border-radius: var(--border-radius-2);
  color: var(--color-white);
}

nav .profile-area .profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav .profile-area .profile img {
  display: block;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  overflow: hidden;
}

nav .profile-area button {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 0.8rem 1.6rem;
  border-radius: var(--border-radius-1);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

/* ASIDE AND SIDEBAR */
main {
  display: grid;
  grid-template-columns: 16rem auto 30rem;
  gap: 2rem;
  width: 96%;
  margin: 1rem auto 4rem;
}

main aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 88vh;
  }



/* Displayed only on mobile and tablet view. */
main aside button#close-button {
  display: none;
}

main aside .sidebar a {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  height: 4.2rem;
  color: var(--color-gray-light);
  position: relative;
}

main aside .sidebar a span {
  font-size: 1.7rem;
  margin-left: 3rem;
}

main aside .sidebar a.active {
  background: var(--color-white);
  color: var(--color-primary);
}

main aside .sidebar a.active:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  position: absolute;
  background: var(--color-primary);
}

main aside .sidebar a:hover{
  color: var(--color-primary);
}

main aside .sidebar a:hover span {
  margin-left: 2rem;
}

main aside .sidebar h4 {
  font-weight: 500;
}

/* Updates */
main aside .updates {
  background: var(--color-white);
  border-radius: var(--border-radius-1);
  text-align: center;
  padding: var(--card-padding);
  bottom: 0;
  position: absolute;
}

main aside .updates span {
  font-size: 2.8rem;
}

main aside .updates h4 {
  margin: 1rem 0;
  
}

main aside .updates small {
  display: block;
}

main aside .updates a {
  display: block;
  width: 100%;
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-1);
  padding: 1.2rem 0;
  margin-top: 2rem;
  align-content: center;

}

main aside .updates a:hover {
  box-shadow: 0 1rem 2rem var(--color-primary-light);
  color: #fff;
}


